[submodule "Assets/Oscar"]
	path = Assets/Oscar
	url = https://github.com/OSCAR-hi/2025-GGJ-Oscar.git
[submodule "Assets/Jiangliu"]
	path = Assets/Jiangliu
	url = https://github.com/OSCAR-hi/2025-GGJ-Jiangliu.git
